---
// import settings from '@data/settings.json';
---

<a href="/" class="rounded-md px-2">
  <!-- <img src={settings.brand.icpc_logo} alt="ICPC" class="h-8 w-auto" /> -->
  <div
    title="ICPC"
    dir="ltr"
    class="container-center h-8 w-auto gap-1 rounded-md text-3xl font-bold"
  >
    <span class="text-brand-2">E</span>
    <span class="text-brand-1">E</span>
    <span class="text-brand-1">L</span>
    <span class="text-brand-3">U</span>
  </div>
  <span class="sr-only">ICPC</span>
</a>
