---
import Shuffle from '@components/ui/Shuffle';
// import settings from '@data/settings.json';
---

<a href="/" class="rounded-md px-2">
  <!-- <img src={settings.brand.icpc_logo} alt="ICPC" class="h-8 w-auto" /> -->
  <div title="ICPC" dir="ltr" class="text-3xl font-bold">
    <Shuffle
      className="**:data-[letter-pos=0]:text-brand-2! **:data-[letter-pos=1]:text-brand-1! **:data-[letter-pos=2]:text-brand-1! **:data-[letter-pos=3]:text-brand-3! text-3xl!"
      text="EELU"
      duration={1}
      animationMode="evenodd"
      shuffleTimes={4}
      loop
      ease="back.out(1.1)"
      stagger={0.1}
      loopDelay={2.5}
      tag={'span'}
      textAlign={'center'}
      client:only="svelte"
    />
    <span class="sr-only">ICPC EELU Fayoum Center</span>
  </div>
</a>
